<!DOCTYPE html> 
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="app.css">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <% if (!user) { %>
    <h3>ERROR: Log in to see TinyURLs!</h3>
  <% } else if (belongs !== true) { %>
    <h3>This TinyURL exists but is not yours. Go to <a href="/u/<%= shortURL %>">/u/<%= shortURL %></a> to see what it links to!</h3>
  <% } else { %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
        <p><a href="/urls/new">Shorten a new URL</a></p></h4>
        <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
          <label for="longURL">Edit:</label>
          <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Submit</buttoann>
        </form>
      </div>
    </div>
  <% } %>
</body>

</html>