<!-- INSTRUCTIONS:  Create a new template file inside the views directory called urls_show.ejs.
Add a new route in express_server.js which we'll use to render this new template.
Use the shortURL from the route parameter to lookup it's associated longURL from the urlDatabase
Pass both of these values to the template in a templateVars object.
Fill out the urls_show.ejs template to display the long URL and its shortened form.
Also include a link (href='#') for creating a new url. -->

<!DOCTYPE html> 
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <% if (!user) { %>
    <h5>Log in to see TinyURLs!</h5>
  <% } else if (belongs !== true) { %>
    <h5>This TinyURL exists but is not yours. Go to <a href="/u/<%= shortURL %>">/u/<%= shortURL %></a> to see its corresponding longURL!</h5>
  <% } else { %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
        <p><a href="/urls/new">Shorten a new URL</a></p></h4>
        <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
          <label for="longURL">Edit:</label>
          <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Submit</buttoann>
        </form>
      </div>
    </div>
  <% } %>
</body>

</html>